body {
  font-size: 20px;
  margin: none;
  padding: none;
}

.box {
  width: 200px;
  height: 200px;
  background-color: rgb(220, 220, 220);
  border: 2px solid black;
}

.header {
  height: 20px;
}

.close {
  background-color: transparent;
  border: 1px solid black;
}

.close:hover {
  background-color: rgb(200, 200, 200);
}

input {
  width: 130px;
}

.btnSubmit {
  width: 20px;
}

ol {
}
